.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.container {
  width: 80%;
  padding: 2rem;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 0.45rem;
  box-shadow: 8px 7px 12px 1px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 8px 7px 12px 1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 8px 7px 12px 1px rgba(0, 0, 0, 0.56);
}
